*.json
*.log
*.d
*.pcm
*.cxx
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.dwo
EDAnalyzers/crab/crab_*
EDAnalyzers/crab/crabConfig.py
EDAnalyzers/crab/__pycache__
EDAnalyzers/python/__pycache__
EDAnalyzers/python/__init__.py
EDAnalyzers/test/__init__.py
EDAnalyzers/test/__pycache__
analysis/figures
analysis/logs
analysis/tuples
analysis/json
