*.json
*.log
*.d
*.pcm
*.cxx
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.dwo
*.root
**/kakang.cc
EDAnalyzers/condor/condor_logs
EDAnalyzers/condor/InputList
EDAnalyzers/crab/LUMI
EDAnalyzers/crab/Status
EDAnalyzers/crab/DatasetList
EDAnalyzers/crab/JSON
EDAnalyzers/crab/crab_*
EDAnalyzers/crab/*.txt
EDAnalyzers/crab/oldjobs
EDAnalyzers/crab/crabConfig.py
EDAnalyzers/crab/__pycache__
EDAnalyzers/python/__pycache__
EDAnalyzers/python/__init__.py
EDAnalyzers/test/__init__.py
EDAnalyzers/test/__pycache__
analysis/macros/ZeroBias/condor_logs
analysis/macros/JetHT/condor_logs